h1 {
    color: rgb(20, 47, 167);
text-align:center;
font-family:Roboto;

 }
 body {
   font-family: Arial, sans-serif;
   background-color: #000000;
   color:#ddff1c ;

 }
 p {
   color: #609ff7;
   font-size: 18px;
   border: 5px solid #141414;
   padding: 10px;
   border-radius: 15px;
   text-align: center;


 }
 .one{
background-color: #010030;
 }
 img {
   width: 300px ;
 }
p img{
   width: 500px ;
}

 table {
   width:90% ;
   border-collapse : collapse;
   margin-top: 20px;
   border-radius: 10px;
   

 }
 .gt{
 background-color: #06046e;
 }
 th{
background-color: #04234e;
color: #f0d90c;

 }
 th , td {
   border: 5px solid  #00ffff;
     
 }
 footer {
   background-color: rgb(0, 0, 0) ;
    text-align:center;
 }
h2 {
  color:#2fd811 ;
  text-align:center;
}



.logo{
    width: 209px;
    height: 167px;
}

nav{
   
   text-align: center;
   padding: 20px  ;
   background-color: rgb(59, 55, 55);
       border-radius: 10px;


}

nav a {
    text-decoration: none;
margin: 50px;
    color: #35f3fa;
    border: 5px solid darkblue;
    border-radius: 10px;
    padding:10px;
    
     }
     .lg{
 background-color: #001e7238;
 }
p a{
  color: #bbccff;
background-color: #0b5fad;
  text-decoration: none;
  border-radius: 5px;
  border: 5px solid #020072;

}

.vin {
  background-color: #0671b0;
}
